@use "@/constants/styles/fonts" as fonts;
@use "@/constants/styles/colors" as colors;
@import "@/index.scss";

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
