@use "@/constants/styles/fonts" as fonts;
@use "@/constants/styles/colors" as colors;
@import "@/index.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 54px;

  .footer__main-block {
    display: flex;
    justify-content: space-between;
    column-gap: 105px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1180px) {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }

    .footer__info {
      @media (max-width: 430px) {
        margin-bottom: 34px;
      }

      .footer__info-title {
        display: flex;
        column-gap: 16px;

        @media (max-width: 900px) {
          justify-content: center;
        }


        .info-title__text {
          padding-top: 7px;
          @include fonts.PoppinsSemiBoldFont;
          font-size: fonts.$font-size_26;
          background: colors.$app_title_gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          line-height: 41.14px;

          @media (max-width: 530px) {
            font-size: fonts.$font-size_20;
            line-height: 22px;
          }
        }
      }

      .footer__info-text {
        width: 482px;
        padding-top: 19px;
        @include fonts.PoppinsLight;
        font-size: fonts.$font-size_24;
        color: colors.$color_white;
        line-height: 36px;

        @media (max-width: 900px) {
          line-height: 30px;
          font-size: fonts.$font-size_20;
          text-align: center;
        }

        @media (max-width: 530px) {
          width: 100%;
          font-size: fonts.$font-size_15;
        }

        @media (max-width: 430px) {
          display: none;
        }
      }
    }

    .footer__links {
      //display: none;
      display: flex;
      column-gap: 79px;

      @media (max-width: 768px) {
        display: none;
      }


      @media (max-width: 560px) {
        column-gap: 50px;
      }

      .links__nav {
        display: flex;
        flex-direction: column;

        .nav__item:first-child {
          @include fonts.PoppinsRegularFont;
          font-size: fonts.$font-size_28;
          color: colors.$color_white;
          line-height: 42px;
          margin-bottom: 40px;

          @media (max-width: 900px) {
            margin-bottom: 20px;
            font-size: fonts.$font-size_20;
          }

          @media (max-width: 500px) {
            margin-bottom: 12px;
            font-size: fonts.$font-size_15;
            line-height: 15px;
          }
        }

        .nav__item {
          @include fonts.PoppinsRegularFont;
          font-size: fonts.$font-size_24;
          color: colors.$color_grey_hight-opacity;
          line-height: 36px;
          margin-bottom: 17px;

          @media (max-width: 900px) {
            margin-bottom: 12px;
            font-size: fonts.$font-size_18;
          }

          @media (max-width: 500px) {
            margin-bottom: 12px;
            font-size: fonts.$font-size_15;
            line-height: 13px;
          }
        }
      }
    }


    .footer-links__burgers-container {
      @media (min-width: 768px) {
        display: none;
      }
      //display: none;
      .footer-links__burger {
        .footer-links__container {
          .footer-links____title-container {
            display: flex;
            justify-content: start;
            position: relative;
            width: 355px;
            height: 54px;
            cursor: pointer;
            border-bottom: 2px solid colors.$footer-links__border-color;
            margin-bottom: 10px;
            background: transparent;
            outline: none;

            @media (max-width: 400px) {
              width: 280px;
            }

            @media (max-width: 400px) {
              width: 250px;
            }

            .footer-links____title {
              @include fonts.PoppinsRegularFont;
              font-size: fonts.$font-size_24;
              color: colors.$color_white;
              line-height: 42px;
              margin-bottom: 40px;
              padding-bottom: 15px;

              @media (max-width: 400px) {
                font-size: fonts.$font-size_20;
              }
            }

            .footer-links____title-image {
              position: absolute;
              right: 0%;
              top: 25%;
              transition: all .3s ease-in;
            }
          }

          .footer-links____links {
            max-height: 0px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            transition: all .3s ease-in;

            .footer-links____item {
              @include fonts.PoppinsRegularFont;
              font-size: fonts.$font-size_24;
              color: colors.$color_grey_hight-opacity;
              line-height: 36px;
              margin-bottom: 17px;

              @media (max-width: 400px) {
                font-size: fonts.$font-size_20;
              }
            }
          }

          &.open {
            .footer-links____links {
              max-height: 150px;
            }

            .footer-links____title-image {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .footer__copyright {
    @include fonts.InterRegularFont;
    font-size: fonts.$font-size_24;
    color: colors.$color_grey_hight-opacity;
    line-height: 36px;
    padding-bottom: 36px;

    @media (max-width: 900px) {
      font-size: fonts.$font-size_18;
    }
  }

  &.light {
    .footer__main-block {
      .footer__info {
        .footer__info-text {
          color: colors.$black_background;
        }
      }

      .footer__links {
        .nav__item {
          color: colors.$black_background;
        }
      }
    }
  }
}
