@use "@/constants/styles/fonts" as fonts;
@use "@/constants/styles/colors" as colors;

.last-update {
    margin: 0 auto 56px;
    display: flex;
    align-items: center;
    column-gap: 18px;

    .last-update__text {
        @include fonts.PoppinsLight;
        font-size: fonts.$font-size_33;
        color: colors.$color_grey;
        line-height: 41.14px;

        @media (max-width: 768px) {
            font-size: fonts.$font-size_25;
        }

        @media (max-width: 450px) {
            font-size: fonts.$font-size_12;
        }
    }
}
