@use "@/constants/styles/fonts" as fonts;
@use "@/constants/styles/colors" as colors;

.currency-chart__container {
    position: relative;
    display: flex;
    //flex-direction: column-reverse;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1205px;
    width: 100%;
    margin: 0 auto 604px;

    @media (max-width: 1200px) {
        margin: 0 auto 150px;
    }

    @media (max-width: 490px) {
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto 75px;
    }

    .currency-chart__controller {
        display: flex;
        column-gap: 10px;

        .currency-chart__random-button {
            padding: 15px;
            background: transparent;
            color: colors.$color_white;
            @include fonts.PoppinsLight;
            font-size: fonts.$font-size_15;
            border: 1px solid colors.$color_white;
            transition: all 1s;
            max-width: 200px;
            align-self: center;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }

            @media (max-width: 768px) {
                padding: 7px;
                font-size: fonts.$font-size_15;
            }

            @media (max-width: 600px) {
                font-size: fonts.$font-size_12;
            }

            @media (max-width: 500px) {
                padding: 3px;
                font-size: fonts.$font-size_10;
            }
        }
    }
}
