$black_background: #030304;
$white_background: #d4cece;

// $app_title_gradient: linear-gradient(90.18deg, #00ce2c 0.18%, #aedf23 49.3%, #a3dc00 99.88%);
$app_title_gradient: linear-gradient(to right, #00ce2c, #aedf23, #a3dc00);
$color_white: #ffffff;
$color_grey: #d9d9d9;
$color_grey_medium-opacity: #a7b2c3;
$color_grey_hight-opacity: #898989;
$currency_card_border: #474747;
$currency_card_background: #202025;
