@use "@/constants/styles/fonts" as fonts;
@use "@/constants/styles/colors" as colors;
@import "@/index.scss";

.modal__container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  transition: all 1s;

  .modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: colors.$modal_background;
    margin: 10% auto;
    height: 47%;
    width: 30%;
    padding: 10px;
    border-radius: 10px;

    @media (max-width: 1440px) {
      width: 50%;
    }

    @media (max-width: 1220px) {
      margin: 15% auto;
      width: 50%;
    }

    @media (max-width: 930px) {
      margin: 20% auto;
      height: 42%;
    }

    @media (max-width: 768px) {
      height: 36%;
    }

    @media (max-width: 560px) {
      margin: 25% auto;
      width: 60%;
    }

    .modal__title {
      @include fonts.PoppinsLight;
      color: colors.$color_grey_medium-opacity;
      font-size: fonts.$font-size_32;
      margin-bottom: 30px;

      @media (max-width: 930px) {
        font-size: fonts.$font-size_25;
      }

      @media (max-width: 768px) {
        font-size: fonts.$font-size_20;
      }

      .modal__selected-currency {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .modal__converter {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;

      .currency__result-title {
        @include fonts.PoppinsLight;
        color: colors.$color_grey_medium-opacity;
        font-size: fonts.$font-size_24;
        align-self: end;

        @media (max-width: 930px) {
          font-size: fonts.$font-size_18;
        }

        @media (max-width: 768px) {
          font-size: fonts.$font-size_15;
        }
      }
    }

    .modal__close-button {
      background-color: colors.$modal_background;
      position: absolute;
      right: 10px;
      top: 10px;
      transition: all 1s;

      &:hover {
        cursor: pointer;
        transform: scale(1.3);
      }
    }

  }
}


