@use "@/constants/styles/fonts" as fonts;
@use "@/constants/styles/colors" as colors;
@import "@/index.scss";

select{
  cursor: pointer;
}

.select__currency {
  @include fonts.PoppinsLight;
  outline: none;
  font-size: fonts.$font-size_20;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;

  .select__item{
    &:hover{
      cursor: pointer;
    }
  }
}
