@use "@/constants/styles/fonts" as fonts;
@use "@/constants/styles/colors" as colors;

.quotes__container {
    max-width: 1224px;
    margin-bottom: 96px;

    @media (max-width: 500px) {
        margin-bottom: 151px;
    }

    .quotes__title {
        margin-bottom: 24px;
        @include fonts.PoppinsLight;
        color: colors.$color_white;
        font-size: fonts.$font-size_32;
        line-height: 41.14px;

        @media (max-width: 768px) {
            margin-bottom: 12px;
            font-size: fonts.$font-size_24;
            line-height: 22px;
        }

        @media (max-width: 500px) {
            margin-bottom: 12px;
            font-size: fonts.$font-size_18;
            line-height: 17px;
        }

        @media (max-width: 450px) {
            margin-bottom: 7px;
            font-size: fonts.$font-size_12;
            line-height: 15px;
        }
    }

    .title__border {
        margin-bottom: 50px;
        background-color: colors.$currency_card_border;
        height: 2px;
        width: 520px;

        @media (max-width: 1120px) {
            margin-bottom: 35px;
            width: 100%;
        }

        @media (max-width: 500px) {
            margin-bottom: 16px;
            width: 100%;
        }
    }

    .quotes__items {
        display: flex;
        justify-content: space-between;
        row-gap: 56px;
        flex-wrap: wrap;

        @media (max-width: 1120px) {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
        }
    }

    &.light {
        .quotes__title {
            color: colors.$black_background;
        }

        .currency-card__container {
            background: colors.$currency-card_background__light;
        }

        .currency-card__container {
            .currency-card__titile {
                color: colors.$black_background;
            }

            .currency-card__percent {
                color: colors.$black_background;
            }
        }
    }
}
